<mat-card>
    <mat-card-title>
        <span *ngIf="question.id">Edit Question</span>
        <span *ngIf="!question.id">New Question</span>
    </mat-card-title>
    <mat-card-content>
        <form>
            <mat-form-field class="fullWide">
                <!-- get the value from the question input using ng module binding. -->
                <input [(ngModel)]="question.text" name="question" matInput placeholder="Question">
            </mat-form-field>
            <mat-form-field class="fullWide">
                <!-- get the value for the correct answer using ng module binding. -->
                <input [(ngModel)]="question.correctAnswer" name="correctAnswer" matInput placeholder="Correct Answer">
            </mat-form-field>
            <mat-form-field class="fullWide">
                <!-- get the value for answer1 using ng module binding. -->
                <input [(ngModel)]="question.answer1" name="answer1" matInput placeholder="Wrong Answer 1">
            </mat-form-field>
            <mat-form-field class="fullWide">
                <!-- get the value for answer2 using ng module binding. -->
                <input [(ngModel)]="question.answer2" name="answer2" matInput placeholder="Wrong Answer 2">
            </mat-form-field>
            <mat-form-field class="fullWide">
                <!-- get the value for answer3 using ng module binding. -->
                <input [(ngModel)]="question.answer3" name="answer3" matInput placeholder="Wrong Answer 3">
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <!-- bind through click action instead of through submit action since button won't be in form element. -->
        <button *ngIf="question.id" (click)="api.putQuestion(question)" mat-stroked-button color="primary">EDIT</button>
        <button *ngIf="question.id" (click)="question = {}" mat-stroked-button color="primary">NEW</button>
        <button *ngIf="!question.id" (click)="post(question); reloadPage()" mat-stroked-button
            color="primary">POST</button>
    </mat-card-actions>
</mat-card>
<questions></questions>