<mat-card>
    <mat-card-title>
        <span *ngIf="quiz.id">Edit Quiz</span>
        <span *ngIf="!quiz.id">New Quiz</span>
    </mat-card-title>
    <mat-card-content>
        <form>
            <mat-form-field class="fullWide">
                <!-- get the value from the quiz input using ng module binding. -->
                <input [(ngModel)]="quiz.title" name="title" matInput placeholder="Quiz Title">
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <!-- bind through click action instead of through submit action since button won't be in form element. -->
        <button *ngIf="quiz.id" (click)="api.putQuiz(quiz)" mat-stroked-button color="primary">EDIT</button>
        <button *ngIf="quiz.id" (click)="quiz = {}" mat-stroked-button color="primary">NEW</button>
        <button *ngIf="quiz.id" (click)="api.deleteQuiz(quiz); reloadPage()" mat-stroked-button
            color="primary">DELETE</button>
        <button *ngIf="quiz.id" [routerLink]="['/question', quiz.id]" mat-stroked-button color="primary">EDIT
            QUESTIONS</button>
        <button *ngIf="!quiz.id" (click)="api.postQuiz(quiz); reloadPage()" mat-stroked-button
            color="primary">POST</button>
    </mat-card-actions>
</mat-card>